@page "/blog";

<MudText Typo="Typo.h6">
    <MudIconButton Icon="@Icons.Material.Filled.Add" Size="Size.Large" OnClick="Popup"></MudIconButton>
    Create Blog
</MudText>

@if (ResponseModel is not null)
{
    int count = 0;

    <MudSimpleTable Hover="@true" Bordered="@true" Striped="@true" Style="overflow-x: auto;">
        <thead>
            <tr>
                <th>No.</th>
                <th>Blog ID</th>
                <th>Blog Title</th>
                <th>Blog Author</th>
                <th>Blog Content</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ResponseModel.Blogs)
            {
                <tr>
                    <td>@(++count + ((ResponseModel.PageNo - 1) * ResponseModel.PageSize))</td>
                    <td>@item.BlogId</td>
                    <td>@item.BlogTitle</td>
                    <td>@item.BlogAuthor</td>
                    <td>@item.BlogContent</td>
                    <td>
                        <MudButton OnClick="() => EditPopup(item.BlogId)" Variant="Variant.Filled" Size="Size.Small" StartIcon="@Icons.Material.Filled.Edit" Color="Color.Primary">Edit</MudButton>
                        <MudButton OnClick="() => DeletePopUp(item.BlogId)" Variant="Variant.Filled" Size="Size.Small" StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error">Delete</MudButton>
                    </td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>

    <MudPagination Size="Size.Medium" SelectedChanged="PageChanged" Variant="Variant.Filled" Count="@ResponseModel.PageCount" Class="my-4" />
}
else
{
    <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
}